<!DOCTYPE html>
<html>
  <head>
    <title>AbueloHub</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Siempre adelante mi hellboy nunca estanques</h1>
    <img src="assets/img/Hellboys.png" alt="Hellboys image">
    <p>For playing purposes. All lefts reserved.</p>
  </body>
</html>
